<!DOCTYPE html>
<html>
  <head>
    <title>Pet Shelter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="<%= root_url %>"/>Home</a>
      <% if current_user%>
        <% if current_user.role == "admin" %>
          <%= link_to "Admin", users_path %>
        <% end %>
      <%end%>

      <%= link_to 'Adoptable!', pets_path %> 


      <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path %> 
        <%= link_to 'Sign Out', signout_path, method: :delete %>  
        <% else %>
        <%= link_to "Sign up",  new_user_registration_path  %> 
        <%= link_to "Login", signin_path %>
     <%end%>

    </div>
 
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    


    <!-- content -->
    <div class="container"  role="main">

        <style>
        .flash__alert   { color: red; }
        .flash__notice  { color: blue; }
        .flash__success { color: green; }
    </style>
  </head>

  <body>
    <% if flash.any? %>
      <% flash.each do |key, value| -%>
        <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
      <% end -%>
    <% end %>
      <%= yield %>
  
    
 
    </div>
  </body>
</html>
